.cenv
data/*
scripts/sbatch.sh
ckpt/
ckpt_voc/
ckpt_imagenet/
ckpt_imagenet_noise/
ckpt_imagenet_vit/
ckpt_feat/
ckpt_cub/
notebook_test/
notebooks/__pycache__/
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
*.pth
*.pyc
__pycache__
__pycache__/
__pycache__/*
